/* 
    Document   : Candy
    Created on : 19 Mar, 2010, 3:48:23 PM
    Author     : maniks
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

