<?xml version='1.0' encoding='utf-8'?>

<hibernate-configuration
        xmlns="http://www.hibernate.org/xsd/hibernate-configuration"
        xsi:schemaLocation="http://www.hibernate.org/xsd/hibernate-configuration hibernate-configuration-4.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <session-factory>
    <!-- Database connection settings -->
<!--     <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="connection.url">jdbc:hsqldb:hsql://localhost</property>
    <property name="connection.username">sa</property>
    <property name="connection.password"></property> -->
    
    
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/shiplive</property>

    <property name="connection.username">dbuser1</property>
    <property name="connection.password">dbuser1</property>

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>

    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">update</property>
   


 <mapping resource="com/manikssys/in/operational/beans/OprBranchMaster.hbm.xml"/>
        <mapping resource="com/manikssys/in/security/beans/ScrMenuButtonProfileDetails.hbm.xml"/>
        <mapping resource="com/manikssys/in/security/beans/ScrUserMaster.hbm.xml"/>
        <mapping resource="com/manikssys/in/security/beans/ScrMenuMaster.hbm.xml"/>
        <mapping resource="com/manikssys/in/security/beans/ScrMenuButtonDetails.hbm.xml"/>
        <mapping resource="com/manikssys/in/security/beans/ScrProfileMenuDetails.hbm.xml"/>
        <mapping resource="com/manikssys/in/security/beans/ScrButtonMaster.hbm.xml"/>
        <mapping resource="com/manikssys/in/security/beans/ScrMacMaster.hbm.xml"/>
        <mapping resource="com/manikssys/in/security/beans/ScrUserProfileMaster.hbm.xml"/>
        <mapping resource="com/manikssys/in/operational/beans/OprEntryMaster.hbm.xml"/>
        <mapping resource="com/manikssys/in/operational/beans/OprPortMaster.hbm.xml"/>
        <mapping resource="com/manikssys/in/operational/beans/OprVesselMaster.hbm.xml"/>
        <mapping resource="com/manikssys/in/operational/beans/OprEntrySeal.hbm.xml"/>
        <mapping resource="com/manikssys/in/operational/beans/OprCountryMaster.hbm.xml"/>
        <mapping resource="com/manikssys/in/operational/beans/OprVesselPosion.hbm.xml"/>
        <mapping resource="com/manikssys/in/operational/beans/OprCargoHdr.hbm.xml"/>
        <mapping resource="com/manikssys/in/operational/beans/OprCargoDtl.hbm.xml"/>
        <mapping resource="com/manikssys/in/operational/beans/OprRemark.hbm.xml"/>
        <mapping resource="com/manikssys/in/security/beans/ScrSmsHdr.hbm.xml"/>
        <mapping resource="com/manikssys/in/security/beans/ScrSmsScheduleMaster.hbm.xml"/>

  </session-factory>
</hibernate-configuration>
